@use '../../styles/variables'

.repository-list
    display: flex
    flex-direction: column
    justify-content: center
    width: 1024px
    margin: 50px 0px 80px 0px
    @media (max-width: 425px)
        display: flex
        flex-direction: column
        justify-content: center
        width: 90%
        margin: 50px 0px 80px 0px

h1
    font-family: MonaSansBold
    color: variables.$blue-color
    width: 100%
    text-align: center
    background-color: variables.$grey-color
    border-radius: 5px
    cursor: pointer
